.usuarios-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

/* CAJA PRINCIPAL */
.tabla-container {
  width: 100%;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

/* TITULO */
.titulo {
  text-align: center;
  margin-bottom: 15px;
  color: #111827;
  font-size: 22px;
}

/* INPUT SEARCH */
.input-search {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

.input-search:focus {
  border-color: #2563eb;
}

/* TABLA */
.tabla-usuarios {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

.tabla-usuarios th {
  background: #111827;
  color: white;
  padding: 12px;
  font-size: 14px;
}

.tabla-usuarios td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #eee;
  color: #111827;
}

/* BOTONES */
.btn {
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 12px;
}

.crear {
  background: #2563eb;
  color: white;
}

.crear:hover {
  background: #1d4ed8;
}

.editar {
  background: #f59e0b;
  color: white;
}

.editar:hover {
  background: #d97706;
}

.eliminar {
  background: #ef4444;
  color: white;
}

.eliminar:hover {
  background: #b91c1c;
}
