/* ─── Layout global ─────────────────────────────────── */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}

body {
  background: #090012f5;
  font-family: 'Segoe UI', sans-serif;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

body::before {
  content: '';
  position: fixed;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: #c796ff79;
  top: -120px;
  right: -100px;
  opacity: 0.4;
  pointer-events: none;
  z-index: 1;
}

body::after {
  content: '';
  position: fixed;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #c796ff79;
  bottom: -80px;
  left: -80px;
  opacity: 0.4;
  pointer-events: none;
  z-index: 3;
}

/* ─── Layout privado ─────────────────────────────────── */


.private-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

.private-body {
  display: flex;
  flex: 1;
}

.main-content {
  flex: 1;
  padding: 25px;
  overflow-y: auto;
}